APIFY_TOKEN=your_apify_token_here
APIFY_ACTOR=apify~instagram-profile-scraper
APIFY_TIMEOUT_SECS=120
APIFY_MEMORY_MB=256
APIFY_INPUT_FIELD=usernames
APIFY_ALLOW_INSECURE_SSL=0
INSTAGRAM_ANALYSIS_ENABLED=0
MAX_REQUEST_BODY_BYTES=4096
RATE_LIMIT_WINDOW_SECS=300
RATE_LIMIT_MAX_REQUESTS=5
MAX_PROXY_IMAGE_BYTES=5242880
ALLOWED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://veridia.com.tr,https://www.veridia.com.tr
HOST=127.0.0.1
PORT=8000
SITE_URL=https://veridia.com.tr
